@tailwind base;
@tailwind components;
@tailwind utilities;


nav.menunav::-webkit-scrollbar{
    display: none
}
.design{
    background: url("https://i.pinimg.com/736x/8c/98/99/8c98994518b575bfd8c949e91d20548b.jpg");
    background-position: center;
    background-size: cover;
}
.chat-bubble {
    max-width: 70%;
    margin: 5px;
    padding: 10px;
    border-radius: 15px;
    background-color: #e0e0e0;
    word-wrap: break-word;
}

.user {
    align-self: flex-end;
    background-color: #009945;
    color: #e1ffef;
}

.bot {
    align-self: flex-start;
    background-color: #e1ffef;
    color: #009945;
}
.hidescroll::-webkit-scrollbar{
    display: none;
}
.group {
    display: flex;
    line-height: 28px;
    align-items: center;
    position: relative;
    max-width: 190px;
  }
  
  .input {
    height: 40px;
    line-height: 28px;
    width: 75%;
    border: 2px solid transparent;
    border-radius: 8px;
    outline: none;
    color: #0d0c22;
    background-color: rgb(243 244 246);
    transition: .3s ease;
    box-shadow: 0px 2px 22px -20px black;
    padding-left: 2.5rem;
    margin-left: 20px;
  }
  
  .input::placeholder{
    color: #777;
  }
  
  .icon {
    position: absolute;
    left: 1rem;
    fill: #777;
    width: 1rem;
    height: 1rem;
  }
  
  
  
  
  
  